<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INDEX PAGE</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="screen" />
</head>

<body>
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="/artists">Artists</a>
            <a href="/random">Random</a>
            <a href="/authors">Authors</a>
        </div>
        <div class="main">
            <h1>Music Groups Fan Page</h1>
            <p>Welcome to the groupie-tracker task</p>
            <p>Here will be presented information about music groups like Queen,
                ACDC, Rihanna, Led Zeppelin, The Jimi Hendrix music,
                BeeGees, Aerosmith, Mac Miller and others. Information consists of date of creation,
                first album, group members, when and where concerts were held.</p>
            <p>As I said, You are welcome to explore it yourself</p>
            <p style=text-align:center>{{.}}</p>
        </div>
</body>

</html>
